# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Mi unidad\Grado Superior\Curso 2020-21 Segundo\Desarrollo Web Entorno Servidor\Practicas\Tema 5\zodiac\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
